{% load static %}

<div class="card custom-card-{{tema}}">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          Tema {{tema}}
        </div>
        <div class="center" >
          <img src="/static/assets/ico-tema-{{tema}}.png" alt="" width="100" height="100" />
        </div>
        <div class="points center">
          {{puntos}}/10
        </div>
      </div>
      <div class="more-info">
        <h1>{{nombre_tema}}</h1>
       
        <div class="stats">
          <div>
            <div class="title">Intentos</div>
            <i class="fa-solid fa-rotate"></i>
            <div class="value">{{intentos_tema}}</div>
          </div>
          
          <div>
            <div class="title">Tareas Asignadas</div>
            <i class="fa-regular fa-paper-plane"></i>
            <div class="value">{{tareas_tema}}</div>
          </div>
        </div>
        <div class="text-right mt-3" style="position: absolute; bottom: 0; right: 0; display: flex; flex-direction: row; justify-content: flex-end;">
          <a href="/quiz/?tema={{tema}}">
            <div class="card-custom-button" style="margin-right: 10px;">
                IR A QUIZ
            </div>
          </a>
          <a href="/desarrollo/?tema={{tema}}">
            <div class="card-custom-button" style="margin-right: 10px;">
                IR A DESARROLLO
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>{{nombre_tema}}</h1>
      <p>{{descripcion_tema}}</p>
      <span class="more">Mouse over the card for more info</span>
      <div class="text-right mt-3" style="position: absolute; bottom: 0; right: 0;">
        <div class="card-custom-button">
          VER TEMA {{tema}}
        </div>
      </div>
    </div>
  </div>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Abel');


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
.card-custom-button{
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 20px!important;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #afd2e9;
  border-radius: 5px;
  
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  border: 2px solid #111!important;

}

a{
  text-decoration: none!important;
  color: #111!important;
}

.card h1 {
  text-align: center;
  font-size: 25px;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
  border-right: 2px solid #111!important;
  
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
  border-right: 0px!important;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 10px;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
  
  margin-bottom:75px;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general > h1{
  margin-top:10px;
}



</style>